html,
body {
  height: 100%; /* body ve html %100 olsun */
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.carousel-item img {
  height: 450px; /* container kadar yükseklik */
  width: 100%; /* tam genişlik */
  object-fit: cover; /* kırpılarak doldur */
}

h1 {
  font-size: 2.5rem; /* Başlık boyutu */
  font-weight: 700; /* Kalın yazı tipi */
  text-align: center; /* Ortalanmış başlık */
  margin: 0;
  padding: 0;
  margin-top: 20px; /* Üstten boşluk */
  margin-bottom: 20px; /* Alttan boşluk */
}

/* Navbar hover efekti */
.navbar-nav .nav-link {
  position: relative;
}

.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: white;
  transition: width 0.3s ease;
}

.navbar-nav .nav-link:hover::after {
  width: 100%;
  left: 0;
  background: white;
}

/* Navbar linklerini beyaz ve kalın yap */

/* Hover (üzerine gelince) efekti */

/* Dropdown item hover */
.dropdown-menu .dropdown-item:hover {
  background-color: #dc3545;
  color: #fff;
  border-radius: 6px;
}

.banner {
  position: relative;
  width: 100%;
  height: 230px;
  background-size: cover;
  background-position: center center;
}

.banner .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.banner .container {
  position: relative;
  z-index: 2;
}